<div class="navbar">
	<h2 style="margin: auto;">FX trading</h2>

</div>
<div class="nav_menu" style="box-shadow: 0 2px 5px 0 rgba(40, 70, 100, 0.28);
}">
	<ul>
		<li><a href="#">Deposit Management</a></li>
		<li><a href="#">Withdrawal Management</a></li>
		<li><a href="#">Transaction History</a></li>
		<li><a href="#">Service center</a></li>
		<li><a href="#">Log out</a></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="nav_menu">
	<div class="clear"></div>
</div>
<div class="clear"></div>

